@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&family=Mukta:wght@300;400;500;600;700&family=Nunito:wght@200;400;600&family=Open+Sans:wght@400;700&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,500&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
}

:root {
    --color: #ff0026;
    --background: #191d2b;
}

::-webkit-scrollbar {
    width: 13px;
    background: black;
}

::-webkit-scrollbar-thumb {
    background-color: var(--color);
}


body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--background);
}

span {
    color: var(--color);
    position: relative;
}


/* H E A D E R */

header {
    /* margin: 1% 5%; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 3%;
    z-index: 100;
}

.sticky {
    background: black;
    padding: 5px 3%;
} 

header img {
    max-width: 80px;
    position: relative;
}

header ul {
    list-style: none;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 9%;
}

header ul li {
    position: relative;
}

header ul a {
    text-decoration: none;
    color: white;
    position: relative;
    margin-right: 30px;
}

.unique {
    margin-right: 0px;
}

.active a {
    color: var(--color);
}

.download {
    background-color: var(--color);
    border: 1px solid var(--color);
    padding: 5px 10px;
    border-radius: 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}

.download-logo {
    color: white;
    font-size: 1.1rem;
    margin-left: 10px;
}

/* H E A D E R */

/* H O M E */ 

.home {
    height: 52vh;
}

.name-box {
    text-align: center;
    margin-top: 20%;
    margin-bottom: 20%;
}

.home h1 , .home p {
    color: white;
    margin-bottom: 20px;

}


.home span:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--background);
    border-left: 2px solid var(--color) ;
    animation: animate 4s steps(14) infinite;
}


@keyframes animate {
    40%, 60%{
        left: 100%;
        width: 0%;
    }
    100%{
        left: 0%;
    }
}




/* H O M E */


/* A B O U T */

.about {
    margin: 7%;
}

.title {
    text-transform: uppercase;
    text-align: center;
    color: white;
    margin-bottom: 100px;
    font-weight: 500;
    font-size: 30px;
}

.about .boxs {
    display: grid;
    grid-template-columns: repeat(2, calc(100% / 2));
}

.about .image-box {
    text-align: end;
}

.about img{
    max-width: 250px;
}

.about h3 {
    color: white;
    margin-bottom: 20px;
}

.about p {
    margin-bottom: 60px;
    color: white;
}

.about-stats {
    margin: 0% 7%;
}

.stats-title {
    color: white;
    text-align: center;
    font-weight: 500;
    margin-bottom: 50px;
}

.about-stats .boxs {
    display: grid;
    grid-template-columns: repeat(4, calc(90% / 4));
    grid-column-gap: 3.3%;
}

.about-stats .box {
    border: 1px solid white;
    border-radius: 25px;
    text-align: center;
    margin-bottom: 50px;
    transition: 0.5s;
}
.about-stats .box:hover {
    border: 1px solid var(--color);
    transform: translateY(-10px);
}


.about-stats .boxs h3 , .about-stats .boxs h2 {
    color: var(--color);
    font-weight: 500;
    margin-bottom: 10px;
}

.about-stats .boxs h4 {
    color: white;
    font-weight: normal;
}


.about-stats .title {
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 60px;
}

.about-stats .my {
    color: var(--color);
}

.progress-bars {
    display: grid;
    grid-template-columns: repeat(2, calc(90% / 2));
    grid-column-gap: 10%;
}

.progress-bar {
    display: flex;
    flex-direction: column;
}

.progress-bar h5 {
    font-weight: 500;
    color: white;
    margin-right: 600px;
}

.progress-con {
    display: flex;
    align-items: center;
}

.progress-con p {
    color: white;
    margin-top: 15px;
}

.progress {
    width: 100%;
    height: 10px;
    margin-left: 15px;
    position: relative;
    background-color: white;
    border-radius: 25px;
}

.progress span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: var(--color);
}

.progress .html {
    width: 90%;
    border-radius: 25px;
}

.progress .css {
    width: 70%;
    border-radius: 25px;
}

.progress .js {
    width: 35%;
    border-radius: 25px;
}

.python {
    width: 25%;
    border-radius: 25px;
}


/* A B O U T */

/* P R O J E C T S */

.projects {
    margin: 10% 7%;
}

.projects .boxs {
    display: grid;
    grid-template-columns: repeat(3, calc(100% / 3));
    grid-row-gap: 3%;
}

.projects img {
    height: 220px;
    width: 365px;
    display: block;
    margin-left: 13px;
    border-radius: 15px;
}

.projects .box {
    position: relative;
}

.projects .cover {
    width: 365px;
    height: 220px;
    top: 0;
    left: 0;
    position: absolute;
    background-color: #00000075;
    display: flex;
    flex-direction: column;
    margin-left: 13px;
    border-radius: 15px;
    opacity: 0;
    transition: 0.6s;
}

.projects .cover:hover {
    opacity: 1;
    border: 1px solid var(--color);
}

.projects .cover h2 {
    color: var(--color);
    text-align: center;
    padding: 40px 0px 25px 0px;
    font-weight: 400;
}

.projects .cover a {
    color: var(--color);
    font-size: 2rem;
    text-align: center;
    transition: 0.5s;
}

.projects .cover a:hover {
    font-size: 2.3rem;
}



/* P R O J E C T S */


/*  C O N T A C T */

.contact {
    margin: 15% 7%;
}

.contact .boxs {
    display: grid;
    grid-template-columns: repeat(2, calc(100% / 2));
}

.contact h1 {
    color: white;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 8%;
    font-weight: 500;
}
.contact h3 {
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.contact p {
    color: white;
    margin-bottom: 40px;
}

.contact .contact-infos {
    margin-right: 50px;
}

.contact .contact-info {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.contact .contact-info i {
    color: var(--color);
    font-size: 1.2rem;
    margin-right: 15px;
}

.contact .contact-info h5{
    color: var(--color);
    font-weight: 500;
}

.contact .contact-info p {
    color: white;
    position: absolute;
    right: 53.5%;
}

.contact .socials a {
    margin-right: 20px;
}

.contact .socials i {
    color: var(--color);
    font-size: 1.7rem;
    margin-top: 50px;
    margin-bottom: 20px;
    transition: 1s;
    transition-timing-function: ease;
}

.contact .socials i:hover {
    transform: rotateZ(720deg);
    font-size: 2rem;
    color: #ff8fa0;
}

.contact form {
    display: flex;
    flex-direction: column;
    margin-top: 8%;
}

.contact form input {
    border: 1px solid white;
    border-radius: 10px;
    background-color: #2a2e35;
    color: #FFFFFF;
    margin-bottom: 20px;
    max-width: 60%;
    margin-left: 43%;
    transition: 0.5s;
}

.contact textarea {
    max-width: 60%;
    height: 200px;
    margin-left: 43%;
    background-color: #2a2e35;
    margin-bottom: 30px;
    border-radius: 10px;
    border: 1px solid white;
    color: white;
    transition: 0.5s;
}

.contact .name , .contact .mail , .contact .subject {
    padding: 10px 0px 10px 15px;
}

.contact .message {
    padding: 10px 0px 150px 15px;
}

.contact input:focus {
    border: 1px solid var(--color);
    outline: none;
}

.contact textarea:focus {
    outline: none;
    border-color: var(--color);
}

.contact form button {
    border: none;
    border-radius: 5px;
    background-color: var(--color);
    padding: 7px 15px;
    transition: 1s linear;
    width: 100px;
    margin-left: 43%;
}

.contact form a {
    text-decoration: none;
    color: black;
    padding: 7px 15px;
    transition: 1s linear;
}

.contact form a:hover {
    color: var(--color);
}

.contact form button:hover  {
    background-color: black ;
    border: 1px solid var(--color);
}

.creat  {
    color: white;
    text-align: center;
    font-weight: 500;
    margin-bottom: 20px;
}

/*  C O N T A C T */

/* M E D I A */

@media (max-width: 768px) {
    .container .boxs {
        display: grid;
        grid-template-columns: repeat(1, 100%);
    }

    .name-box {
        margin-top: 107%;
    }

    .about .image-box {
        text-align: center;
        margin-top: 20%;
    }
    .contact {
        margin-top: 110%;
    }

    .contact-info p {
        right: -1%;
    }

    form input, form textarea, form button {
        margin-left: 20%;
    }
}









@media (min-width: 768px) {
    .container {
        width: 750px;
    }
    .review .boxs {
        margin: 5%;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 100%;
    }
}