* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --bg-main: white;
  --bg-second: #191d2b;
  --main-color: #ff0026;
  --input-bg-color: #e2e2e2;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
}

body {
  background-color: var(--bg-main);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--bg-second);
}

.color {
  color: var(--main-color);
}

/* Start - Navbar */

.navbar {
  background-color: var(--bg-main);
  box-shadow: 0 1px 4px var(--main-color);
  position: fixed;
  width: 100%;
}

.main {
  font-size: 25px;
  width: fit-content;
  margin: auto;
  position: relative;
}

.main::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  -webkit-text-fill-color: var(--main-color);
  transition: 0.5s;
  width: 0;
  overflow: hidden;
  z-index: 10;
}

.main:hover::before {
  width: 100%;
}

.navbar button {
  border: 1px solid var(--main-color);
}
.navbar button:focus {
  box-shadow: none;
}

.navbar a {
  text-decoration: none;
  margin-right: 15px;
  color: var(--bg-second);
  cursor: pointer;
  transition: 0.4s;
}

.navbar a:hover {
  color: var(--main-color) !important;
}

.navbar i {
  font-size: 23px;
  color: var(--main-color);
  cursor: pointer;
  padding: 10px;
}

.navbar .colors-box {
  position: relative;
  display: none;
}

.colors-box .color-switcher {
  display: flex;
  position: absolute;
  top: 50px;
  right: -10px;
  background-color: var(--bg-main);
  box-shadow: 0 4px 10px var(--main-color);
  border-radius: 5px;
  padding: 15px 20px;
}

.colors-box .color-switcher .btn {
  display: inline-block;
  height: 25px;
  width: 25px;
  outline: none;
  border: none;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.colors-box .color-switcher .active {
  box-shadow: 0 0 0 2px var(--bg-main), 0 0 0 4px var(--main-color);
}

.colors-box .color-switcher .col1 {
  background: #ff0026;
}
.colors-box .color-switcher .col2 {
  background: #0174be;
}
.colors-box .color-switcher .col3 {
  background: #52b788;
}
.colors-box .color-switcher .col4 {
  background: #940b92;
}

/* End - Navbar */

/* Start - Section Home */

.home-boxs {
  min-height: 100vh;
  height: 100%;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 4rem;
  align-items: center;
}

.home span {
  position: relative;
  color: var(--main-color);
}

.home h1 {
  position: relative;
}
.home .button {
  display: inline-block;
  height: 40px;
  width: 40px;
  float: left;
  margin: 0 5px;
  overflow: hidden;
  background: none;
  border: 1px solid var(--bg-second);
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.5s ease-out;
}
.home .button:hover {
  width: 155px;
  border-color: var(--main-color);
}

.home .button a {
  display: inline-block;
  height: 40px;
  width: 40px;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 40px;
}

.home .button i {
  font-size: 20px;
  line-height: 40px;
  margin-left: 10px;
  color: var(--bg-second);
}

.home .button span {
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  margin-left: 10px;
  color: var(--bg-second);
}

.home .button:hover i {
  color: var(--bg-main);
}

.home .button:hover a {
  background: var(--main-color);
}
.home .button:hover span {
  color: var(--main-color);
}
.home .download-btn {
  width: 185px;
  font-size: 18px;
  font-weight: 400;
  display: block;
  background: none;
  border: 1px solid var(--bg-second);
  border-radius: 50px;
  padding: 10px;
  color: var(--bg-second);
  position: relative;
  z-index: 10;
  text-decoration: none;
  overflow: hidden;
  transition: 0.7s;
}

.home .download-btn i {
  position: absolute;
  z-index: 1;
  right: -2px;
  top: 0px;
  background: var(--main-color);
  color: white;
  height: 100%;
  width: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: 0.7s;
}

.home .download-btn:hover i {
  box-shadow: 0px 0 0 150px var(--main-color);
  z-index: -1;
  color: white;
}

.home .download-btn:hover {
  border-color: var(--main-color);
  color: white;
}

.img-border {
  border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%;
  max-width: 380px;
  max-height: 380px;
  background-color: var(--main-color);
  padding: 15px;
  margin: auto;
  overflow: hidden;
  display: flex;
}

.home img {
  width: 230px;
  margin: auto;
  border-radius: 5%;
}

/* End -  Home Section */

/* Start - About Section */

.about img {
  max-width: 100%;
  height: 80%;
  border-radius: 5px;
}

.img-cadr {
  position: absolute;
  top: 20px;
  left: 30px;
  border: 10px solid var(--main-color);
  border-radius: 5px;
  z-index: 0;
  width: 280px;
  height: calc(100% - 80px);
}

.progress-bars {
  display: grid;
  grid-template-columns: repeat(1, 100%);
}

.progress-bar {
  display: grid;
  grid-template-columns: repeat(1, 100%);
  position: relative;
}
.progress-bar {
  height: 120px;
}

.progress-bar h6 {
  top: 5px;
}

.progress-bar .icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.progress-bar i {
  font-size: 1.8rem;
  color: var(--main-color);
}

.progress {
  width: 100%;
  height: 15px;
  position: relative;
  border-radius: 25px;
  margin: auto;
}

.progress span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: var(--main-color);
  border-radius: 25px;
}

.progress .html,
.progress .bootstrap,
.progress .sass {
  width: 100%;
}

.progress .css,
.progress .js {
  width: 90%;
}

.progress .react {
  width: 60%;
}

.progress .php {
  width: 40%;
}

.percentage {
  background: var(--main-color);
  color: white;
  font-size: 15px;
  padding: 2px;
  position: absolute;
  top: 0px;
  right: 5px;
  border-radius: 10px 10px 0px 10px;
}

.css-percentage,
.js-percentage {
  right: 10%;
}

.react-percentage {
  right: 40%;
}
.php-percentage {
  right: 60%;
}

/* End - About Section */

/* Start - Services Section */

.services .box {
  border: 1px solid var(--bg-second);
  border-radius: 15px;
  cursor: pointer;
  transition: 0.5s;
  height: 100%;
}

.services p {
  padding: 0px 15px;
}

.box-icon {
  height: 100px;
  width: 100px;
  border: 1px solid var(--bg-second);
  display: flex;
  align-items: center;
  border-radius: 50%;
  justify-content: center;
  cursor: pointer;
  margin: 15px auto;
  transition: 0.5s;
}

.box i {
  font-size: 40px;
}

.box i,
.box h4 {
  transition: 0.5s;
  color: var(--bg-second);
}

.box:hover,
.box:hover .box-icon {
  border-color: var(--main-color);
}

.box:hover i,
.box:hover h4 {
  color: var(--main-color);
}

.box:hover {
  margin-top: -5px;
}

/*end - Services Section */

/* Start- Projects Section */

.projects .buttons {
  max-width: 400px;
}

.projects .buttons a {
  text-decoration: none;
  color: var(--bg-second);
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}

.projects .buttons a:hover {
  color: var(--main-color);
}
.projects .buttons .active {
  color: var(--main-color);
}

.projects .card {
  cursor: pointer;
  overflow: hidden;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.projects img {
  transition: 0.5s;
  cursor: pointer;
}

.projects img:hover {
  transform: scale(1.2);
}

#react {
  display: none;
  text-align: center;
  padding: 100px 0px 200px 0px;
}
/* End - Projects Section */

/* Start - Contact Section */

.contact .contact-information-box {
  height: 40px;
}

.contact .contact-information-box i {
  color: var(--bg-second);
  font-size: 20px;
}

.contact a {
  height: 50px;
  width: 50px;
  background: var(--input-bg-color);
  color: var(--bg-second) !important;
  display: flex;
  align-items: center;
  font-size: 25px;
  margin-right: 25px;
  justify-content: center;
  text-decoration: none;
  border-radius: 50%;
  transition: 0.5s;
  overflow: hidden;
}

.contact a:hover {
  background: var(--main-color);
}

.contact a:hover i {
  animation: rotate-scale-up 0.8s linear;
  color: var(--bg-main);
}

.contact h6,
.contact p {
  margin: 0px !important;
}

.contact input,
.contact textarea {
  border: none;
  outline: none;
  width: 100%;
  padding: 10px 15px;
  color: var(--bg-second);
  background: var(--input-bg-color);
}

.contact button {
  outline: none;
  border: none;
  border-radius: 50px;
  background-color: var(--main-color);
  color: white;
  padding: 7px 25px;
  margin-top: 15px;
}

.contact button:hover i {
  animation: rotate-scale-up 0.8s linear;
}

/* End - Contact Section */

/* S C R O L L - B T N */

#scroller {
  background-color: var(--main-color);
  position: fixed;
  margin: 20px 0px;
  height: 10px;
  width: 0%;
  z-index: 100;
}

#scroller i {
  color: white !important;
}

.scroll-btn {
  background-color: var(--main-color);
  position: fixed;
  bottom: 8%;
  right: 1%;
  color: white;
  font-size: 1.8rem;
  font-weight: 800;
  text-align: center;
  padding: 0px 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  display: none;
  transition: 0.3s;
}

/* S C R O L L - B T N */

@keyframes animate {
  40%,
  60% {
    left: 100%;
  }
  100% {
    left: 0%;
  }
}

@-webkit-keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
    transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(1.3) rotateZ(180deg);
    transform: scale(1.3) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
    transform: scale(1) rotateZ(360deg);
  }
}

@media (min-width: 990px) {
  .navbar a::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: var(--main-color);
    bottom: -3px;
    left: 0px;
    transition: ease 0.4s;
  }
  .navbar a:hover::after {
    width: calc(100% - 15px);
  }
}

@media (min-width: 1100px) {
  .about .row p {
    font-size: 20px;
  }
}

@media (max-width: 990px) {
  nav .text-center li {
    margin: 20px 0px;
  }

  nav .colors-ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .navbar .color-switcher {
    left: calc(50% - 85px);
    width: 170px;
  }

  .home-boxs {
    margin-top: 100px;
    min-height: 85vh;
  }
  .home .information-box:nth-child(1) {
    order: 10;
  }

  .home-boxs {
    grid-template-columns: 100%;
    grid-gap: 1rem;
    align-items: center;
  }
}

@media (max-width: 600px) {
  #scroller {
    display: none;
  }
  .home .row :nth-child(2) {
    margin-bottom: 20px;
  }
}
