@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100..800&display=swap");

:root {
  --primary: #70a5fd;
  --background-color: #222433;
  --font-roboto: "Martian Mono", monospace;
  --font-rubik: "Martian Mono", monospace;
}

* {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #888888;
}
body {
  @apply bg-bg-color  selection:bg-primary selection:text-white overflow-x-hidden;
}

h1,
h2,
p {
  @apply text-white m-0 p-0;
}

h1 {
  @apply font-rubik font-bold text-[40px] md:text-[60px] capitalize;
}
p,
li {
  @apply font-roboto text-base font-light;
}
section {
  @apply px-3;
}

.container {
  @apply 2xl:max-w-[1280px];
}

input,
textarea {
  @apply p-3 bg-bg-color w-full rounded-2xl text-2xl border-1 border-[#888888] text-white focus:outline-none resize-none font-roboto;
}

.gradient {
  background: #001f38;
  background: linear-gradient(
    90deg,
    rgba(0, 31, 56, 1) 0%,
    rgba(20, 214, 234, 1) 100%
  );
}

.gradient-text {
  background: linear-gradient(
    90deg,
    rgb(5, 87, 155) 0%,
    rgba(20, 214, 234, 1) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.gradient-bg {
  background: linear-gradient(
    90deg,
    rgba(0, 31, 56, 1) 0%,
    rgba(20, 214, 234, 1) 100%
  );
  padding: 10px;
  color: white;
}

.text {
  color: #001f38;
  transition: color 0.3s;
}

.text:hover {
  background: linear-gradient(90deg, #001f38, #14d6ea);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

/* S T A R T - N A V */

.nav__link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 4px;
  background-color: var(--primary);
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.nav__link:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.nav__link.active {
  color: var(--primary);
}

.nav__link.active::before {
  background-color: var(--primary);
  transform-origin: left;
  transform: scaleX(1);
}

/* E N D - N A V */

.project__box:hover .project__title {
  color: var(--primary);
}

/* S T A R T - S C R O L L */
.scroll {
  height: 80px;
  width: 30px;
  background: var(--background-color);
  border: 1px solid white;
  border-radius: 9999px;
  margin: auto;
  overflow: hidden;
  position: relative;
}

.scroll::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 20px;
  width: 20px;
  background: white;
  border-radius: 9999px;
  animation: scroll-down 2s infinite;
}

.scroll-text {
  animation: scroll-text 2s infinite ease;
}

@keyframes scroll-down {
  from {
    background: white;
    top: 10px;
  }
  to {
    background: none;
    top: 50px;
  }
}

@keyframes scroll-text {
  from {
    color: white;
  }
  to {
    color: var(--background-color);
  }
}

/* E N D - S C R O L L */

.skill-icon::after {
  content: "";
  position: absolute;
  top: -5px;
  right: -5px;
  height: 100%;
  width: 100%;
  background: var(--primary);
  border-radius: 8px;
  z-index: -1;
  transition-duration: 0.5s;
}

/* M E D I A - Q U E R Y*/
